[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-marshmallow = "*"
simplejson = "*"
marshmallow = "*"
tensorflow = "*"
numpy = "*"
openweathermapy = "*"
requests = "*"
geopip = "*"
pickle = "*"
sklearn = "*"

[requires]
python_version = "3.7"
